* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(56, 47, 97);
 }
.colorfondo {
  background-color: rgb(56, 47, 97);
}
.color-logo {
  color: orange;
}
a {
  text-decoration: none;
  color: rgb(243, 133, 15);
}
a:hover {
  color: white;
}
a:visited {
  color: white;
}
h2 {
  color: rgb(56, 47, 97);
  font-size: 35;
}
.navbar-custom {
  background-color: rgb(20, 7, 85);
}
.navbar-custom .navbar-brand .navbar-nav .nav-item {
  color: white;
}
/* Hero Section */
.hero-section {
  height: 500px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/fotoYacs.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.hero-section .container-fluid {
  color: whitesmoke;
}

.texto-hero {
  display: none;
}

/* Portafolio */
.portafolio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/* Contacto */
.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 640px;
}
form h2 {
  color: #f1f3f1;
  font-size: 35;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
form .btn {
  border: 1px solid whitesmoke;
  color: whitesmoke;
}
form .btn:hover {
  border: 1px solid orange;
  color: orange;
}

label {
  color: #f2f6f2;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
input,
textarea {
  padding: 17px 25px;
  border-radius: 20px;
  margin-bottom: 20px;

  border: 2px solid #f0faf1;
  color: #283629;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #b5cab6;
}

@media (min-width: 768px) {
  .navbar-brand {
    width: 100px;
  }
  .texto-hero {
    display: block;
    font-size: 14px;
  }
  #Contacto form label {
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  
  .navbar-brand {
    width: 100px;
  }
  .texto-hero {
    display: block;
    font-size: 20px;
  }
  #Contacto form label {
    font-weight: 400;
  }

}
